.main
  / BEGIN CONTENT
  %section.section.title-page
    .container
      .row
        .col-md-6
          %h3.page-title Login
        .col-md-6
          %ol.breadcrumb.pull-right
            %li= link_to 'Home', root_path
            %li= link_to 'Food Provider Sign In', new_provider_session_path
  %section.section.panel.panel-default
    .container.panel-body
      .row
        .col-md-4.col-md-offset-4
          .panel.panel-default
            .panel-heading
              %h3.panel-title Please sign in
            .panel-body
              = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                %fieldset
                  .form-group
                    = f.input :email, label: false, input_html: { class: 'form-control input-lg', placeholder: "Enter email", type: "email" }
                  .form-group
                    = f.input :password, label: false, input_html: { class: 'form-control input-lg', placeholder: "Password", type: "password" }
                  %input.btn.btn-lg.btn-inverse.btn-block{:type => "submit", :value => "Login"}/
                  %br
                  = link_to 'forgot_password'.titleize, new_receiver_password_path, class: ''
                  %br
                  Don't have an account
                  = link_to 'sign_up'.titleize, new_receiver_registration_path, class: ''
