.container
  .row
    .col-md-12
      %h3.page-title Dashboard
.container
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          .panel-title
            %i.fa.fa-bar-chart-o>
            Donations
          .panel-tools.pull-right
            .icon-tools
              %i.fa.fa-chevron-down{"data-option" => "collapse"}
              %i.fa.fa-cog{"data-target" => "#myModal", "data-toggle" => "modal"}
              %i.fa.fa-times{"data-dismiss" => "panel"}
        .panel-body
          #graph-example{:style => "height: 300px;"}
    .col-md-6
      .panel.panel-default.panel-calendar
        .panel-heading
          %h3.panel-title
            %i.fa.fa-calendar>
            Calendar
        .panel-body
          #calendar-example
  .row
    .col-md-6
      .panel.panel-default.panel-calendar
        .panel-heading
          %h3.panel-title
            %i.fa.fa-calendar>
              List 
        .panel-body
          %table#datatable1.table.table-striped.table-bordered.table-hover.table-responsive
            %thead
              %tr
                %th{:style => "width='36%'"} Name
                %th{:style => "width='20%'"} Type
                %th{:style => "width='20%'"} Level
                %th{:style => "width='20%'"} Certification
                %th{:style => "width='20%'"} Distance
            %tfoot
              %tr
                %th Name
                %th Type
                %th Level
                %th Certification
                %th Distance
            %tbody
              - ['Martin County Free Meals', 'Holy Cross Service Center', 'House of Hope ', 'Building Bridges To Youth'].each do |name|
                %tr
                  %td= name
                  %td Food Receiver
                  %td= rand(5) + 1
                  %td= ['PBC Food Bank Certify', '', ''].sample
                  %td= rand(100).to_s + ' Miles'
    .col-md-6
      .panel.panel-default.panel-calendar
        .panel-heading
          %h3.panel-title
            %i.fa.fa-calendar>
              Bulletin Board
        .panel-body
          %table#datatable1.table.table-striped.table-bordered.table-hover.table-responsive
            %thead
              %tr
                %th{:style => "width='36%'"} Date
                %th{:style => "width='20%'"} Time
                %th{:style => "width='20%'"} Amout
                %th{:style => "width='20%'"} Receivers
            %tfoot
              %tr
                %th Date
                %th Time
                %th Amout
                %th Receaver
            %tbody
              - 20.times do |p|
                %tr
                  %td= (DateTime.now + (p * 5).hours).strftime('%D')
                  %td= ((DateTime.now + (p * 5).hours) + rand(60).minutes).strftime('%H:%I %p')
                  %td= (rand(100) + 20).to_s + ' LBS'
                  %td= ['Martin County Free Meals', 'Holy Cross Service Center', 'House of Hope ', 'Building Bridges To Youth', ''].sample
