%section#banner.section-featured
  #carousel-example-generic.carousel.slide{"data-ride" => "carousel"}
    / Indicators
    %ol.carousel-indicators
      %li.active{"data-slide-to" => "0", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "1", "data-target" => "#carousel-example-generic"}
      %li{"data-slide-to" => "2", "data-target" => "#carousel-example-generic"}
    / Wrapper for slides
    .carousel-inner
      .item.active
        .row.header-text
          .col-md-6.col-md-offset-3
            .text-center
              %i.fa.fa.fa-thumbs-up.fa-5x.hidden-xs
              %h2.slogan.hidden-xs FoodBanker Makes Giving Easy!
              %p.hidden-lg.hidden-md.hidden-sm GIVE EASILY
              %p
                Almost 40% of our food supply is wasted yearly. Donate it, don't waste it.
      .item
        .row.header-text
          .col-md-6.col-md-offset-3
            .text-center
              %i.fa.fa.fa-connectdevelop.fa-5x.hidden-xs
              %h2.slogan.hidden-xs FoodBanker Connects Communities!
              %p.hidden-lg.hidden-md.hidden-sm CONNECT LOCALLY
              %p
                Food receivers and distributors get notifications when local donors have surplus.
      .item
        .row.header-text
          .col-md-6.col-md-offset-3
            .text-center
              %i.fa.fa.fa-facebook-square.fa-5x.hidden-xs
              %i.fa.fa.fa-twitter-square.fa-5x.hidden-xs
              %i.fa.fa.fa-google-plus-square.fa-5x.hidden-xs
              %i.fa.fa.fa-share-square.fa-5x.hidden-xs
              %h2.slogan.hidden-xs FoodBanker Connects Socially
              %p.hidden-lg.hidden-md.hidden-sm CONNECT SOCIALLY
              %p
                FoodBanker keeps everyone connected automatically through social networking hooks.
    / Controls
    %a.left.carousel-control{"data-slide" => "prev", :href => "#carousel-example-generic"}
      %span.fa.fa-chevron-left
    %a.right.carousel-control{"data-slide" => "next", :href => "#carousel-example-generic"}
      %span.fa.fa-chevron-right
  / /carousel
%section.section.section-services
  .container
    .row
      .col-lg-4
        %i.fa.fa-heart.fa-5x
        %h4
          %strong EASY DONATING
        %p
          Quick sign up and set up connects donors and recipeints in minutes. Donors quickly notify recipients with a single touch.
      .col-lg-4
        %i.fa.fa-globe.fa-5x
        %h4
          %strong LOCALIZATION
        %p
          Users save time and money by being connected to the nearest donors or recipients through the localization system.
      .col-lg-4
        %i.fa.fa-clock-o.fa-5x
        %h4
          %strong SAVE TIME
        %p
          Give anytime or on a schedule with a quick give button, or regularly through easy setup of recurring donation intervals.
%section.section.testimonials
  .container
    .row
      .col-lg-12
        %div
          .testimonial
            %h5 Sign up took less than 5 minutes, we were notifying local food distribution agencies in minutes of our surplus food.
            %br/
            %span.author
              — MIKE DOE
              %a{:href => "#"} Classy Caterers
%section.section.section-about
  .container
    .row
      .col-md-offset-3.col-md-6
        .section-header
          %h2.section-heading Our Sponsors
          %p FoodBanker isn't alone on it's quest to end food insecurity.
    .row
      .col-md-3
        .team-member
          %figure.member-photo
            = image_tag 'code4goodpbc.png', alt: 'Member Team'
          .team-detail
            %h4 Code4GoodPBC
      .col-md-3
        .team-member
          %figure.member-photo
            = image_tag 'pbcfoodbank.png', alt: 'Member Team'
          .team-detail
            %h4 PBC Food Bank
      .col-md-3
        .team-member
          %figure.member-photo
            = image_tag 'popcode.png', alt: 'Member Team'
          .team-detail
            %h4 PopCode
      .col-md-3
        .team-member
          %figure.member-photo
            = image_tag 'wallaby.png', alt: 'Member Team'
          .team-detail
            %h4 WallabyCare
%section.section
  .container
    .row
      .col-lg-12
        #quotes.section-quotes
          #quote-carousel.carousel.slide.quotes-carousel{"data-ride" => "carousel"}
            / Bottom Carousel Indicators
            %ol.carousel-indicators
              %li.active{"data-slide-to" => "0", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "1", "data-target" => "#quote-carousel"}
              %li{"data-slide-to" => "2", "data-target" => "#quote-carousel"}
            / Carousel Slides / Quotes
            .carousel-inner
              / Quote 1
              .item.active
                %blockquote
                  .row
                    .col-sm-3.text-center
                      = image_tag 'avatars/user1_55@2x.jpg', alt: 'User', class: 'img-circle', style: 'width: 100px;height:100px;'
                    .col-sm-9
                      %p FoodBanker is awesome! When we have surplus food from a job, I count on FoodBanker to donate it.
                      %small Kate Ur'er
              / Quote 2
              .item
                %blockquote
                  .row
                    .col-sm-3.text-center
                      = image_tag 'avatars/user2_55@2x.jpg', alt: 'User', class: 'img-circle', style: 'width: 100px;height:100px;'
                    .col-sm-9
                      %p With FoodBanker we've increased food pickups and donations by 25%.
                      %small Volun Teer
              / Quote 3
              .item
                %blockquote
                  .row
                    .col-sm-3.text-center
                      = image_tag 'avatars/user3_55@2x.jpg', alt: 'User', class: 'img-circle', style: 'width: 100px;height:100px;'
                    .col-sm-9
                      %p I can sleep at night knowing we've donated surplus food, thus being less wasteful.
                      %small Soun Dsleepr
            / Carousel Buttons Next/Prev
            %a.left.carousel-control{"data-slide" => "prev", :href => "#quote-carousel"}
              %i.fa.fa-chevron-left
            %a.right.carousel-control{"data-slide" => "next", :href => "#quote-carousel"}
              %i.fa.fa-chevron-right
