.main
  / BEGIN CONTENT
  %section.section.title-page
    .container
      .row
        .col-md-6
          %h3.page-title Register
        .col-md-6
          %ol.breadcrumb.pull-right
            %li= link_to 'Home', root_path
            %li= link_to 'Food Reciever Registration', new_receiver_registration_path
  %section.section.panel.panel-default
    .container.panel-body
      .row
        .col-md-7
          %blockquote
            .media
              %span.pull-left.text-center{:style => "width: 79px;"}
                %i.fa.fa-calendar.fa-4x.media-object
              .media-body
                %h4.media-heading>
                  %strong SCHEDULE YOUR PICKUPS AROUND DONORS
                Easily locate donors in your immediate area and then expand your search area then coordinate your time around your donors.
          %blockquote
            .media
              %span.pull-left.text-center{:style => "width: 79px;"}
                %i.fa.fa-money.fa-4x.media-object
              .media-body
                %h4.media-heading>
                  %strong INCENTIVIZE YOUR DONORS WHILE SAVING MONEY
                Give donors tax deductible receipts directly from your FoodBanker account saving you time, money and headaches.
          %blockquote
            .media
              %span.pull-left.text-center{:style => "width: 79px;"}
                %i.fa.fa-facebook-square.fa-4x.media-object
              .media-body
                %h4.media-heading>
                  %strong USE SOCIAL MEDIA TO NOTIFY VOLUNTEERS
                Use social media integration to notify volunteers in your area that help is needed to give out recently donated food.
        .col-md-5.well.well-sm
          = simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
            %ul
              - resource.errors.full_messages.each do |e|
                %li=e
            %h4.text-center Sign up!
            .form-group
              .row
                .col-xs-6.col-md-6
                  = f.input :first_name, label: false, input_html: { class: 'form-control input-lg', placeholder: "First Name" }
                .col-xs-6.col-md-6
                  = f.input :last_name, label: false, input_html: { class: 'form-control input-lg', placeholder: "Last Name" }
                .col-xs-6.col-md-6
                  = f.input :email, label: false, input_html: { class: 'form-control input-lg', placeholder: "Email", type: "email" }
                .col-xs-6.col-md-6
                  = f.input :password, label: false, input_html: { class: 'form-control input-lg', placeholder: "Password", type: "password" }
            %button.btn.btn-lg.btn-inverse.btn-block{:type => "submit"} Sign up
            %br
            Already Have An Account
            = link_to 'log_in'.titleize, new_receiver_session_path, class: ''
