.container
  .row
    .col-md-12
      .panel.panel-default
        .panel-heading
          %h3.panel-title Advanced Example
.container
  .row
    .col-md-12
      = simple_form_for([:receivers, organization], html: {class: 'form-horizontal clearfix', novalidate: true}) do |f|
        .form-group
          %label.col-md-4.control-label{:for => "firstname"} Name
          .col-md-4
            = f.input :name, label: false, input_html: { class: 'form-control input-md' } 
        .form-group
          %label.col-md-4.control-label{:for => "firstname"} Address
          .col-md-4
            = f.input :address, label: false, input_html: { class: 'form-control input-md' } 
        .form-group
          %label.col-md-4.control-label{:for => "firstname"} City
          .col-md-4
            = f.input :city, label: false, input_html: { class: 'form-control input-md' } 
        .form-group
          %label.col-md-4.control-label{:for => "firstname"} State
          .col-md-4
            = f.input :state, label: false, input_html: { class: 'form-control input-md' } 
        .form-group
          %label.col-md-4.control-label{:for => "firstname"} Zip
          .col-md-4
            = f.input :zip, label: false, input_html: { class: 'form-control input-md' } 
        = f.button :submit, class: 'btn btn-primary btn-large pull-right', disable_with: 'Creating...'



