!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title Food Bank
    = render 'layouts/shared/meta'
    %script{:src => "//maps.google.com/maps/api/js?v=3.13&sensor=false&libraries=geometry", :type => "text/javascript"}
    %script{:src => "//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js", :type => "text/javascript"}
    = stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => true
    / HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    /[if lte IE 8]
      <script src="/assets/html5shiv/html5shiv.js"></script>
      <script src="/assets/plugins/respond/respond.min.js"></script>
      <script src="/assets/plugins/flot/excanvas.min.js"></script>
    = csrf_meta_tags
  %body
    .wrapper
      %aside.social-sidebar
        .social-sidebar-content
          .user
            = image_tag 'avatars/avatar-30.png', alt: current_receiver.name, height: '25', width: '25', class: 'avatar'
            %span= current_receiver.name
            %i.trigger-user-settings.fa.fa-user{"data-toggle" => "dropdown"}
          .clearfix
          .menu
            .menu-content
              %ul#social-sidebar-menu
                %li.active
                  = link_to receivers_path do
                    %i.fa.fa-home
                    %span Dashboard
                %li
                  = link_to edit_receivers_organization_path(current_account) do
                    %i.fa.fa-building-o
                    %span Organization
                %li
                  = link_to receivers_root_path do
                    %i.fa.fa-users
                    %span Staff
                %li
                  = link_to receivers_root_path do
                    %i.fa.fa-star
                    %span Pickup Schedules
      %header
        %nav.navbar.navbar-fixed-top.navbar-super.social-navbar{:role => "navigation"}
          .navbar-header
            %a.navbar-brand{:href => "#home", :title => "Provider"}
              = image_tag 'logo-white-181.png', alt: 'Provider', height: '25', width: '25', class: 'light'
              = image_tag 'logo-gray-181.png', alt: 'Provider', height: '25', width: '25', class: 'dark'
              %span Receiver
          .navbar-toggle
            %i.fa.fa-align-justify
          %div
            %ul.nav.navbar-nav
              %li.dropdown.navbar-super-fw.hidden-xs
            %ul.nav.navbar-nav.navbar-right
              %li.divider-vertical
              %li.dropdown
                %a.dropdown-toggle{"data-delay" => "0", "data-hover" => "dropdown", "data-toggle" => "dropdown", :href => "#"}
                  %i.fa.fa-caret-down.fa-lg
                %ul.dropdown-menu
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-user>
                      My Profile
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-cogs>
                      Settings
                  %li
                    = link_to destroy_receiver_session_path, :class => '', :method => :delete do
                      %i.fa.fa-sign-out>
                      Log Out
                  %li.divider
                  %li
                    %a{:href => "#"}
                      %i.fa.fa-info>
                      Help
            .nav-indicators
      .main
        = yield
      %footer 2015 © FoodBanker
    #myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4#myModalLabel.modal-title Modal Settings
          .modal-body Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, deserunt!
          .modal-footer
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
            %button.btn.btn-primary{:type => "button"} Save changes
    = javascript_include_tag 'admin', 'data-turbolinks-track' => true
    :javascript
      window.jQuery || document.write('<script src="/assets/jquery/jquery.min.js"><\/script>')
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    :javascript
      $.fn.modal || document.write('<script src="/assets/plugins/bootstrap/bootstrap.min.js"><\/script>')
       // Prevent jQueryUI Conflicts
       //var bootstrapTooltip = $.fn.tooltip.noConflict()
       //$.fn.bootstrapTooltip = bootstrapTooltip
    :javascript
      window.jQuery.ui || document.write('<script src="/assets/jquery-ui/jquery-ui.min.js"><\/script>')
    %script{:src => "//cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.1/jquery.slimscroll.min.js"}
    :javascript
      window.jQuery.ui || document.write('<script src="/assets/plugins/jquery.slimscroll/jquery.slimscroll.min.js"><\/script>')
    :javascript
      /*<![CDATA[*/
      $(function() {
        $(".social-sidebar").socialSidebar();
        $('.main').panels();
        $(".main a[href='#ignore']").click(function(e) {
          e.stopPropagation()
        });
      });
      $(document).on('click', '.navbar-super .navbar-super-fw', function(e) {
        e.stopPropagation()
      });
      /*]]>*/
