!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %title
      - unless yield(:title).to_s.empty?
        = yield (:title)
        |
      Code4GoodPBC
      | FoodBanker
    = render 'layouts/shared/meta'
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    :css
      .wrapper .main {
        margin-top: 60px;
      }
    /[if lt IE 8]
      <script src="/assets/js/html5shiv/html5shiv.js"></script>
      <script src="/assets/js/plugins/respond/respond.min.js"></script>
  = csrf_meta_tags
  %body
    .wrapper
      %header
        %nav#navbar.social-navbar.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
          .container
            .navbar-header
              %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => "#"}
                %h1 FoodBanker
            .navbar-collapse.collapse
              %ul.nav.navbar-nav.navbar-right
                %li= link_to 'Home', root_path
                %li= link_to 'Food Providers', new_provider_registration_path
                %li= link_to 'Food Receivers', new_receiver_registration_path
      .main
        = yield
      %footer.section.footer
        .container
          .row.website-info
            .col-sm-4.col-md-4
              %h4 Latest Posts
              %ul.posts-list
                %li
                  %a{:href => "#"} Why Giving Makes A Difference.
                %li
                  %a{:href => "#"} How FoodBanker Is Changing Food Donations
                %li
                  %a{:href => "#"} FoodBanker Marks It's Seventh Year of Service
                %li
                  %a{:href => "#"} Major Milestone for FoodBanker (50,000 Users)
                %li
                  %a{:href => "#"} FoodBanker Gets Congressional Medal Of Honor
            .col-sm-4.col-md-4
              %h4 Social Networks
              .social-timeline
                %dl.dl-horizontal
                  %dt
                    %i.fa.fa-twitter
                  %dd
                    %a{:href => "#ignore"}> @classyCaterers
                     Just donated to @pbcfoodbank. I know it'll get into the right hands #foodbanker #donationlife 
                    %small 5 min ago
                %dl.dl-horizontal
                  %dt
                    %i.fa.fa-facebook
                  %dd
                    %a{:href => "#ignore"}> #donationlife #feedthehungry
                     Wow, just used @foodbanker for the first time, gave so much food 
                    %small 7 min ago
              %form.form-inline{:action => "#"}
                .input-group
                  %input.form-control{:type => "text"}/
                  %span.input-group-btn
                    %button.btn.btn-inverse{:type => "button"} Subscribe
            .col-sm-4.col-md-4.company-info
              %h4 Who Are We?
              %p We're a team of developers dedicated to ending food insecurity.
              %address
                %strong PopCode, Inc.
                %br/
                P Sherman Wallaby Way
                %br/
                Miami, FL 33015
                %br/
                %br/
                %i.fa.fa-phone
                  305.954.7861
              = succeed "\u{a0}support@foodbanker.com" do
                %i.fa.fa-envelope
          .row.social-network-footer
            .col-sm-12.align-center
              %ul
                %li
                  %a.btn.btn-social-icon.btn-warning{:title => "RSS"}
                    %i.fa.fa-rss
                %li
                  %a.btn.btn-social-icon.btn-facebook{:title => "Facebook"}
                    %i.fa.fa-facebook
                %li
                  %a.btn.btn-social-icon.btn-twitter{:title => "Twitter"}
                    %i.fa.fa-twitter
                %li
                  %a.btn.btn-social-icon.btn-google-plus{:title => "Google+"}
                    %i.fa.fa-google-plus
                %li
                  %a.btn.btn-social-icon.btn-linkedin{:title => "Linkedin"}
                    %i.fa.fa-linkedin
          .row.copyright
            .col-sm-12
              %p
                Copyright © 2015 FoodBanker - by
                %a{:href => "http://popcode.io", :target => "_blank"} popcode.io
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    :javascript
      window.jQuery || document.write('<script src="/assets/jquery/jquery.min.js"><\/script>')
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"}
    :javascript
      $.fn.modal || document.write('<script src="/assets/plugins/bootstrap/bootstrap.min.js"><\/script>')
    :javascript
      /*<![CDATA[*/
      $("a[href='#ignore']").click(function(e) {
        e.stopPropagation()
      });
      /*]]>*/
